.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}

.info {
    margin-top: 70px;
}

.brandName {
    color: lightgray;
    margin-bottom: 10px;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
}


.wrapper img {
    max-width: 100%;
}

.wrapper > p {
    font-weight: 500;
    margin-top: 70px;
    font-size: 32px;
}

